@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .theme-black {
        --color-brand-base: 0, 0, 0;
        --color-brand-base-light: 136, 138, 133;
        --color-brand-muted: 242, 242, 237;
        --color-brand-inverted: 225, 225, 225;
        --color-brand-yellow: 255, 190, 0;
        --color-brand-red: 222, 6, 17;
        --color-brand-primary: 255, 255, 255;
        --color-themeShadow: rgba(255, 255, 255, 0.7);
    }
    .theme-dark {
        --color-brand-base: 13, 17, 23;
        --color-brand-base-light: 136, 138, 133;
        --color-brand-muted: 242, 242, 237;
        --color-brand-inverted: 195, 195, 195;
        --color-brand-yellow: 255, 190, 0;
        --color-brand-red: 222, 6, 17;
        --color-brand-primary: 201, 209, 217;
        --color-themeShadow: rgba(0, 0, 0, 0.1);
    }
    .theme-light {
        --color-brand-base: 255, 255, 255;
        --color-brand-base-light: 105, 105, 105;
        --color-brand-muted: 136, 138, 133;
        --color-brand-inverted: 25, 25, 25;
        --color-brand-yellow: 255, 190, 0;
        --color-brand-red: 222, 6, 17;
        --color-brand-primary: 19, 18, 35;
        --color-themeShadow: rgba(0, 0, 0, 0.9);
    }
    .theme-dark-blue {
        --color-brand-base: 19, 18, 35;
        --color-brand-base-light: 136, 138, 133;
        --color-brand-muted: 242, 242, 237;
        --color-brand-inverted: 208, 208, 208;
        --color-brand-yellow: 255, 190, 0;
        --color-brand-red: 253, 31, 74;
        --color-brand-primary: 255, 255, 255;
        --color-themeShadow: rgba(255, 255, 255, 0.7);
    }
    .theme-neon {
        --color-brand-base: 179, 255, 23;
        --color-brand-base-light: 36, 52, 3;
        --color-brand-muted: 47, 67, 6;
        --color-brand-inverted: 36, 52, 3;
        --color-brand-yellow: 36, 52, 3;
        --color-brand-red: 17, 24, 2;
        --color-brand-primary: 36, 52, 3;
        --color-themeShadow: rgba(0,0,0, 1);
    }
}
